<!DOCTYPE html>
<html>
<head>
	<title>NLP Natural Language Processing</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
	 <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="{{ url_for('static', filename='w3.css') }}">

<link rel="stylesheet" href="/css/demo.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter&family=Source+Code+Pro&display=swap"
        />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'css/main.css') }}" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet"  href="{{ url_for('static', filename='w3.css') }}">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    
</head>
<body>

	<!-- Static navbar -->
	<nav class="navbar navbar-expand-md navbar-dark bg-primary fs-5" id="edit_summary1">
	<div class="w3-bar w3-teal w3-padding">
  <a href="{{url_for('home')}}" class="w3-bar-item w3-button w3-padding ">Home</a>
  <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-padding  ">Text summarizer</a>
  <a href="{{url_for('index2')}}" class="w3-bar-item w3-button w3-padding ">URL Summarizer</a>
  <a href="{{url_for('summarize')}}" class="w3-bar-item w3-button w3-padding">Doc upload Summarizer </a>
  
</nav> 
	   

	<div class="w3 container">
		<div class="row mt">
	        
    	</div>
	    <div class="row mt">
	        <div class="col-lg-6 col-lg-offset-3 centered">
	        	<form enctype="multipart/form-data" method="POST" action="/summarize">
	        		
				    <label class="radio-inline">
				      <input type="radio" name="optradio" value="features">Using Feature Extraction
				    </label>
				    <br><br>
		        	<div class='custom'>
		        		<label for="file-upload">Upload File</label>
		        		<input id="file-upload" name="filename" type="file" class="btn btn-outline-dark" style="display:none;" required>
		        	</div>
	        		<br><br>
			  		<button class="w3-btn w3-teal"  onclick="countWords(this)" type="submit" value="Submit">Submit</button>
				</form>

	        </div>
	    </div>
	</div>


    <div class="smart-wrap">
        <div class="smart-forms smart-container wrap-3">

            <div class="w3-bar w3-teal w3-padding" id="edit_summary2">
                <h5><i class="fa fa-comments"></i>Summary </h5>
            </div><!-- end .form-header section -->

            <form method="post" action="/email" id="comment2">
                <div class="form-body theme-blue">
                    <div class="section">
                        <label class="field prepend-icon">
						<center>EDIT <i class="fa fa-hand-o-down"> -- </i> Download <a download="Summarizied-Content.doc" id="download" 
                            title="Download as PDF"><i class="fa fa-cloud-download"></i></a>  
                            <textarea onchange="countWords(this);" onkeyup="countWords(this);" rows="4" cols="50" id="comment" name="comment" placeholder="Your Answer...">{{summary_output}}</textarea>
							<p>
<span id="wordCount">0</span> 
</p>
		                    <span class="field-icon"><i class="fa fa-comments"></i></span>
                            <span class="input-hint">
                            </span>
                        </label>
                    </div><!-- end section -->
                </div>
                
            </form>

        </div><!-- end .smart-forms section -->
    </div><!-- end .smart-wrap section -->
</div>
 <div class="w3-center"><a href="{{url_for('index')}}" style="text-decoration:none"><button class="w3-btn w3-teal w3-round-large" style="width:10%;text-decoration:none;" type="submit" value="reset">Back</button></a>
 </div>
<br>

    <div></div><!-- end section -->

	 <script>
    		$('#file-upload').change(function() {
		    var i = $(this).prev('label').clone();
		    var file = $('#file-upload')[0].files[0].name;
		  	$(this).prev('label').text(file);
		});
		
		function myFunction() {
		      document.getElementById("myDropdown").classList.toggle("show");
		}
		window.onclick = function(event) {
			if (!event.target.matches('.dropbtn')) {
			    var dropdowns = document.getElementsByClassName("dropdown-content");
			    var i;
			    for (i = 0; i < dropdowns.length; i++) {
				      var openDropdown = dropdowns[i];
				      if (openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
				      }
			    }
			}
		};

		function createNewElement(){
			var txtNewInputBox = document.createElement('div');
			txtNewInputBox.innerHTML='<div><br><label>Email &nbsp</label><input type="Email" name="email" required><br><br><button type="submit" class="button btn-blue">Submit</button><br></div>'
			document.getElementById("newElementId").appendChild(txtNewInputBox);
			var elem = document.getElementById('button_click');
    		elem.parentNode.removeChild(elem);
		}
		
		window.onload = function(){
	        var txt = document.getElementById('comment');
            document.getElementById('download').onclick = function(code)
		    {
               this.href = 'data:text/doc;charset=utf-8,' + encodeURIComponent(txt.value);
        };
      };
function myFunction2() {
  var copyText = document.getElementById("comment");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
};
	</script>
	<script> 
function countWords(self) {

    var spaces = self?.value.match(/\S+/g);
    var words = spaces ? spaces.length : 0;
    console.log("words",words);
    document.getElementById("wordCount").innerHTML = words + " words";
}
/*function window.onload*/
setTimeout(function(){ countWords(document.getElementById("comment"))}, 2000);
</script>

</body>
</html>
